header {
 font-family: Futura, Trebuchet MS;
 font-weight: bold condensed;
 color: #607D3B; 
 font-size: 25px;
 padding:3px;
}

h1 {
 font-family: Futura, Trebuchet MS;
 font-weight: bold condensed;
 color: #607D3B; 
 font-size: 25px;
 padding:3px;
}

body {
 background-color: #cccccc;
 font-family: Futura, Trebuchet MS;
 font-weight: bold condensed;
 color: #000000;
 font-size: 14px;
}

p {
 padding:3px;
}

footer {
 font-family: Futura, Trebuchet MS;
 font-weight: bold condensed;
 color: #607D3B; 
 font-size: 14px;
}

#content {
    padding:3px;
}
