header {
 font-family: Futura, Trebuchet MS;
 font-weight: bold condensed;
 color: #607D3B; 
 font-size: 25px;
 padding:3px;
}

h1 {
 font-family: Futura, Trebuchet MS;
 font-weight: bold condensed;
 color: #607D3B; 
 font-size: 25px;
 padding:3px;
}

body {
 background-color: #bcbcbc;
 font-family: Kalam;
 font-weight: bold condensed;
 color: #000000;
 font-size: 14px;
}

p {
 padding:3px;
}

footer {
 font-family: Futura, Trebuchet MS;
 font-weight: bold condensed;
 color: #607D3B; 
 font-size: 14px;
}

#content {
    padding:3px;
}

#WPI{
    /*center the image*/
    display: block; 
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

#main_nav ul { padding: 0; margin: 0; }

#main_nav li  {
  list-style-type: none; /* remove bullet points */ 
}

#main_nav li a {
   display: block;
   text-decoration: none; /* remove underline */
   border-radius: 10px;  /* rounded corners */
   margin: 6px;
   padding: 9px;
   color: #222;
   font-weight: bold;

   /* nice gradient shade on the buttons */
   background-image: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,1));

   border: 1px solid #666; /* dark outline */
}

nav li:active {
  background-color: #ccc;
  background-image: none;
  box-shadow: inset 0 3px 3px rgba(0, 0, 0, .2);
}

video {
 	/* add your style definitions here */
 	border: solid;
	margin-top: 8px;
	margin-bottom: 8px;
	padding: 8px;
	border-radius: 50px;
 	/* transitions applied to the video element */
 	-moz-transition: all 1s ease-in-out;
 	-webkit-transition: all 1s ease-in-out;
 	-o-transition: all 1s ease-in-out;
 	-ms-transition: all 1s ease-in-out;
 	transition: all 1s ease-in-out;
}

audio {
	border: solid;
	margin-top: 8px;
	margin-bottom: 8px;
	padding: 8px;
	border-radius: 50px;
}

button.back {
/*These lines override the previous styling of buttons*/
-webkit-border-image: url("greyButton.png") 0 14 0 14 stretch;
width:60px;
height: 30px;
 
/*These lines position the back button inside the header*/
position:absolute;
left:16px;
top:8px;
}

header.secondary{   
padding-left: 75px;
}

button {
 /*center the button*/
display: block;
margin-left: auto;
margin-right: auto;
 
/* add your code to set top and bottom margins */
margin-top: 4px;
margin-bottom: 4px;
 
/*add an image to your button*/
-webkit-border-image: url("orangeButton.png") 14 14 14 14 stretch;
background-size: cover;

/*set width and height for the button*/
width: 100px;
height: 25px;
}
